In [5]:
import pickle
import pandas as pd

In [6]:
# load the model from disk
loaded_model = pickle.load(open('finalized_model.sav', 'rb'))

In [7]:
df_dataset_test = pd.read_csv("/Users/florentin/Documents/EPSI/I2B/WORKSHOP/IA/data/dataset/dataset_test_final.csv", sep=";")

df_dataset_test.head()

   app_id    pge_name  vst_time  pge_estimated_time  pge_type_id
0       1     article     11810               47267            1
1       1     accueil     45020               10358            2
2       1     article     23193               43321            1
3       1  informatif     33252               42358            1
4       1  informatif     34253               13444            3

In [9]:
features = [
    'app_id',
    'vst_time',
    'pge_estimated_time',
    'pge_type_id'
]

df_dataset_test['pertinence_computed'] = loaded_model.predict(df_dataset_test[features])##en paramètre ca sera le jeu de données de la bdd

df_dataset_test.head()

,app_id,pge_name,vst_time,pge_estimated_time,pge_type_id,pertinence_computed
0,1,article,11810,47267,1,3
1,1,accueil,45020,10358,2,3
2,1,article,23193,43321,1,3
3,1,informatif,33252,42358,1,1
4,1,informatif,34253,13444,3,3